<div style="min-height: 100vh;" class="container-fluid">
  <app-header></app-header>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Thế giới sách</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md id="hov">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a [routerLink]="['/home']" mat-button>Trang chủ</a>
        <a [routerLink]="['/sunch']" mat-button>Sách chữ</a>
        <a [routerLink]="['/suck']" mat-button>Sách nói</a>
        <a [routerLink]="['/reviewsach']" mat-button>Review Sách</a>
        <a [routerLink]="['/sukiensach']" mat-button id="menu">Sự kiện sách</a>
        <a [routerLink]="['/login']" mat-button>Đăng nhập</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <div>
      <router-outlet></router-outlet>
    </div>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <!--<a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->
        <a [routerLink]="['/home']" mat-button>Trang chủ</a>
        <br>
        <a [routerLink]="['/sunch']" mat-button>Sách chữ</a>
        <br>
        <a [routerLink]="['/suck']" mat-button>Sách nói</a>
        <br>
        <a [routerLink]="['/reviewsach']" mat-button>Review Sách</a>
        <br>
        <a [routerLink]="['/sukiensach']" mat-button>Sự kiện sách</a>
        <br>
        <a [routerLink]="['/login']" mat-button>Đăng nhập</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
