@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
.menu-spacer {
  flex: 1 1 auto;
}
mat-sidenav-container{
  background-color: #F2F3F4 ;
}
#menu{
  margin: 0 160px 0 0;
}
#hov a:hover{
  color: #e2e2e2;
}
