<div class="container-fluid">
  <div class="row" id="row1">
    <div class="col">
      <div id="col-left">
<!--        cột 1 - review sách-->
        <div id="review">
          <!--tên mục-->
          <div id="ten">
            <h4>Review sách</h4>
          </div>
<!--          ảnh đại diện-->
          <div id="anh"></div>
<!--          sách sách review nổi bật-->
          <div id="noidung">

          </div>
        </div>
      </div>
    </div>
<!--    cột-2 nội dung-->
    <div class="col-6">
<!--      slideshow-->

<!--      link facebook-->
      <div id="linkfb">

      </div>
    </div>
<!--    cột 3 - Điểm tin nổi bật-->
    <div class="col">
      <div id="diemtin">

      </div>
    </div>
  </div>

<!--  phan 2-->
  <div class="row">
    <div class="col">
      <div id="thuviensach">

      </div>
    </div>
    <div class="col-3">
      <div id="sachdocnhieu">

      </div>
    </div>
</div>
<!--  phan 3-->
  <div class="row">
    <div class="col-9">
      <div id="sukiensach">
      </div>
    </div>
  </div>
<!--  phan 4-->
  <div class="row">
    <div class="col-9">
      <div id="sachmoi">
      </div>
    </div>
  </div>
</div>
